<ion-content>
  <div class="register">
    <ion-card class="card">
      <ion-card-header>
        <ion-card-title>Register</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form class="form" [formGroup]="validations_form" (ngSubmit)="tryRegister(validations_form.value)">

          <ion-item>
            <ion-label position="floating" color="primary">Email</ion-label>
            <ion-input type="text" formControlName="email" ngModel pattern="(\W|^)[\w.+\-]*@(students.nsbm)\.lk(\W|$)">
            </ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.email">
              <div class="error-message"
                *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </div>

          <ion-item>
            <ion-label position="floating" color="primary">Password</ion-label>
            <ion-input type="password" formControlName="password" class="form-controll" required></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.password">
              <div class="error-message"
                *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </div>


          <ion-button class="submit-btn" type="submit" [disabled]="!validations_form.valid">Register</ion-button>
          <label class="error-message">{{errorMessage}}</label>
          <label class="success-message">{{successMessage}}</label>
        </form>
        <p class="go-to-login">Already have an account? <a (click)="goLoginPage()">Try to Log In.</a></p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>