.register{
     padding: 1px;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/assets/register.png);
}
.card {
    width: 90%;
     text-align: center;
     margin-top: 50% ;
     margin-left: auto ;
     margin-right: auto ;
     font-size: x-large;
}