<ion-header>
  <ion-toolbar color="warning">
    <ion-title>
      Notes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

  <ion-refresher slot="fixed" (ionRefresh)="getNotes($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <div class="bg-img">
    <h1><b>Take you notes here!</b></h1>
    <h5>{{ currentDate }}</h5>

    <ion-card *ngFor="let Note of Notes">
      <ion-item-sliding>
        <ion-item lines="none">
          <ion-checkbox (ionChange)="changeCheckState(Note)" color="success" [(ngModel)]="Note.checked" slot="start"></ion-checkbox>
          <ion-label>
            <h2 *ngIf="!Note.checked">{{ Note.text }}</h2>
            <h2 *ngIf="Note.checked" style="text-decoration:line-through;">{{ Note.text }}</h2>
            <p>{{ Note.hour }}</p>
          </ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="deleteNote(Note)">
            <ion-icon name="trash" slot="icon-only"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card>

    <ion-card *ngIf="addNote">
      <ion-item lines="none">
        <ion-input [(ngModel)]="Note" placeholder="Take your note"></ion-input>
        <ion-button (click)="addNoteToFirebase()" shape="round" color="light" slot="end">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card>

    <ion-button *ngIf="!addNote" (click)="showForm()" expand="block" class="add-button" color="light">
      <ion-icon name="add" slot="start"></ion-icon>
      Add a Note
    </ion-button>

    <ion-button *ngIf="addNote" (click)="showForm()" expand="block" class="add-button" color="danger">
      <ion-icon name="close" slot="start"></ion-icon>
      Discard Note
    </ion-button>
  </div>
</ion-content>