<body onLoad="loadApp()">

  <ion-app>

    <ion-header>
      <ion-toolbar>
        <ion-title>
          Settings
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-item>
          <ion-label>Dark Theme</ion-label>
          <ion-toggle [(ngModel)]="Status" (click)="DarkMode()" (ionChange)="Toggle();"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label>Email: {{userEmail}}</ion-label>
        </ion-item>
        <!-- <ion-item>
          <ion-label>Student ID: {{userID}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Degree: {{userDegree}}</ion-label>
        </ion-item> -->
        <ion-item>
          <ion-label color="dark" (click)="presentAlert()" style="font-weight: bold;">Change Password</ion-label>
        
          <ion-label color="primary" (click)="logout()" style="text-align: right;font-weight: bold;">Logout</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-app>
</body>